{% extends "base.html" %} {% block content %}
<section class="about">
  <img src="images/001.jpeg" alt="" class="about-img" />
  <div class="about-content">
    <h3>About Me</h3>
    <h2>I'm David Michael, a Software Developer and IT Support Person</h2>
    <p>
      A highly motivated and detail-oriented tech enthusiast, An IT professional
      with a strong background in Python, Django, Django Rest Framework, API
      development, Git and Github. Experienced in WordPress Development and
      HTML/CSS.
    </p>
    <a href="#" class="btn">Let's Talk</a>
  </div>
</section>

<section class="services">
  <h3>My Services</h3>
  <div class="service-cards">
    <div class="service">
      <img src="/Icons/web-dev.png" alt="" class="icon" />
      <h3>Web Development</h3>
      <p>
        Passionate about crafting immersive web experiences, I specialize in web
        development. My expertise includes designing and building responsive
        websites, leveraging the latest technologies and best practices. I
        thrive on turning ideas into dynamic and user-friendly digital
        solutions.
      </p>
    </div>
    <div class="service">
      <img src="/Icons/graphics-design.png" alt="" class="icon" />
      <h3>Graphics Design</h3>
      <p>
        With a keen eye for aesthetics and a creative touch, I delve into the
        realm of graphics design. I bring ideas to life through visually
        compelling and impactful designs, ensuring a seamless blend of form and
        function.
      </p>
    </div>
    <div class="service">
      <img src="/Icons/IT-support.png" alt="" class="icon" />
      <h3>IT Support</h3>
      <p>
        A dedicated IT enthusiast, I provide comprehensive IT support solutions.
        From troubleshooting to system maintenance, I am committed to ensuring
        smooth and efficient technology operations, empowering businesses to
        thrive in the digital landscape.
      </p>
    </div>
  </div>
</section>
{% endblock content %}
