<!-- {% load static %} -->
<footer class="footer">
    <h2 class="footer-name">David Michael</h2>
    <div class="social-icons">
      <a href="https://github.com/davidinmichael" target="_blank" class="socials"
        ><img src="{% static 'icons/github.png' %}" alt="" class="icon"
      /></a>
      <a href="https://linkedin.com/in/davidinmichael" target="_blank" class="socials"
        ><img src="{% static 'icons/linkedin.png' %}" alt="" class="icon"
      /></a>
      <a href="https://instagram.com/davidinmichael" target="_blank" class="socials"
        ><img src="{% static 'icons/instagram.png' %}" alt="" class="icon"
      /></a>
      <a href="https://twitter.com/davidinmichael" target="_blank" class="socials"
        ><img src="{% static 'icons/twitter.png' %}" alt="" class="icon"
      /></a>
      <a href="https://www.facebook.com/davidinmichael" target="_blank" class="socials"
        ><img src="{% static 'icons/facebook.png' %}" alt="" class="icon"
      /></a>
    </div>
    <p>&copy; 2023 - Developed by David Michael</p>
  </footer>