{% load static %}
<header class="header">
    <div class="details">
      <div class="header-info">
        <div class="header-text">
          <p>Hello, World !</p>
          <h1>I am a Software Developer</h1>
          <p>Simple is Perfect</p>
          <a href="#" class="btn">Let's Talk</a>
        </div>
        <div class="contacts">
          <div class="contact">
            <h3>Email</h3>
            <p>
              <a href="mailto:davidinmichael@gmail.com"
                >davidinmichael@gmail.com</a
              >
            </p>
          </div>
          <div class="contact">
            <h3>Phone</h3>
            <p>
              <a href="https://wa.me/+2348140980792">+234 814 098 0792</a>
            </p>
          </div>
          <div class="contact">
            <h3>GitHub</h3>
            <p>
              <a href="https://github.com/davidinmichael">davidinmichael</a>
            </p>
          </div>
        </div>
        <div class="my-cv"><a href="docs/David-Michael-Backend.pdf" class="btn" download="">Download My Resume</a></div>
      </div>
    </div>
    <img src="{% static 'images/david.jpg' %}" class="header-img" alt="" />
  </header>